$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "font-awesome/font-awesome";

@function em($target, $context: $base-font-size) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  font: 15px/18px "Segoe UI","微軟正黑體","Helvetica Neue",cursive;
  color:#696969;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  font-style: normal;
  text-rendering: optimizelegibility;
  .nav-pills {
    margin-top: 5px;
    @media screen and (max-width: 768px) {
      width:40px;
    }
    > li , > li.active{
      > a {
        color:#696969;
        background: none;
        border-radius: 0;
        &:hover,&:focus{
          color:#696969;
          background: none;
          border-radius: 0;
          &:after{
            width:100%;
            transition:.2s width;
          }
        }
        &.fanpage{
          text-indent: -9999em;
          padding: 0;
          display: block;
          // background:url(../images/f.png);
          width: 30px;
          height: 30px;
          margin:5px 10px 0 0;
          transition: 0.2s background-position;
          background: url(../images/btn-background.png) 70px 36px;
          border-radius: 50%;
          &:before{
            color: #fff;
            text-shadow: 0px 0px 1px #696969;
            font-weight: bold;
            content: "f";
            font-size: 1.5em;
            height: 100%;
            left: 0;
            line-height: 28px;
            position: absolute;
            text-align: center;
            text-indent: 0;
            top: 0;
            width: 100%;
            transition: 0.2s color;
          }
          &:hover,&:focus{
            background-position: 40px 40px;
          }
          &:hover:before,&:focus:before{
            // color: #696969;
          }
          &:hover:after,&:focus:after{
            width: 0;
          }
        }
        &:after{
          background: url(../images/btn-background.png) center 40px;
          display: block;
          content:" ";
          position: absolute;
          height: 3px;
          width: 0;
          left: 0;
          bottom: 0;
        }
      }
    }
    > li.active{
      a{
        &:after{
          width:100%;
          transition:.2s width;
        }
      }
    } 
    @media screen and (max-width: 768px) {
      li {
        opacity: 0;
        height: 0;
        transition:0.2s all;
        &:last-child{
          opacity: 1;
          height:30px;
        }
      }
    }


  }
  a:focus{
    outline:none;
    img{
      border:0;
    }
  }
}
header{
  background: #fff;
  height:55px;
  width:100%;
  border-bottom:1px solid #bbb;
  padding-top: 1px;
  position: fixed;
  top:0;
  z-index:1;
  .text-muted{
    text-indent: -9999em;
    background: url(../images/logo.png) no-repeat;
    display: block;
    width:29px;
    height:26px;
    margin: 15px 0 0 19px;
    position: relative;
    a{
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2P4zwAAAgEBAOIxSPwAAAAASUVORK5CYII=);
    }
  }
}
.container{
  width:100%;
  height:100%;
  // min-height: 400px;
  padding:0;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: 768px) {
    width:100%;
    height:auto;
  }
  .road{
    position: absolute;
    background:url(../images/road.png) center center;
    width: 10000%;
    height:100%;
  }
  .cross{
    position: absolute;
    background:url(../images/cross.png);
    width:10000%;
    height:100%;
  }
  .dragon{
    height: 100%;
    left: 0;
    margin: 0;
    width: 1000%;
    padding: 55px 0 44px 0;
    position: relative;
    @media screen and (max-width: 768px) {
      width:100%;
      height:auto;
    }
    .page{
      padding: 1px 0 0 1px;
      @media screen and (max-width: 768px) {
        padding: 0;
      }
      width:100%;
      height: 100%;
      float: left;
      @media screen and (max-width: 768px) {
        width:40px;
        float: none;
        height:auto;
      }
    }
    .home{
      line-height: 0;
      .center{
        h2{
          font-size: em(26,15);
          line-height: em(32,26);
          margin:0;
        }
        p{
          line-height: em(32,15);
          margin:0;
          a{
            width: 150px;
            height: 30px;
            margin-left: 20px;
            display: inline-block;
            text-align: center;
            line-height: em(25,18);
            font-size: em(18,15);
            color:#fff;
            background: url(../images/btn-background.png) ;
            border: 1px solid #fff;
            border-radius: 1px;
            position: relative;
            box-shadow: 1px 6px 15px rgba(0,0,0,.2);
            text-decoration: none;
            transition-duration:0.2s;
            transition-property: background-position;
            i{
              color:rgba(255,255,255,0.8);
              line-height: em(30,15);
              font-size: em(15,18);
              position: absolute;
              right: 5px;
              transition-duration:0.2s;
              transition-property: color,right;
            }      
            &:hover{
              background-position:-10px -50px;
              i{
                right: 3px;
                color:rgba(255,255,255,0.98);
              }
            }
          }
          &:last-child{
            @media screen and (max-width: 768px) {
              margin:percentage(22/320) 0 0;
            }
          }
        }
        figure.house{
          float: left;
          width: auto;
          @media screen and (max-width: 768px) {
            float: none;
            width:percentage(259/320);
            margin: 0 auto;
            position: relative;
            img{
              width:100%;
            }
          }
        }
        section{
          float: left;
          min-height: 200px;
          margin:em(30,15) 0 0 em(32,15);
        }
        width:640px;
        margin:0 auto;
        top:50%;
        position: relative;
        margin-top: -123px;
        @media screen and (max-width: 768px) {
          width:100%;
          top:0;
          height: auto;
          margin:percentage(62/320) 0 0;
        }
      }
    }
    .rule{
      top:50%;
      margin-top:-205px;
      @media screen and (max-width: 768px) {
        top:0;
        margin:0 auto;
        height: auto;
      }
    }
    .rule,.house{
      width:315px;
      position:relative;
      aside{
        height: 100%;
      }
      h3{
        font-size: em(26,15);
        margin:0 0 20px 10px;
        @media screen and (max-width: 768px) {
          max-width: percentage(270/320);
          margin:0 auto percentage(25/320) ;
        }
        span{
          @media screen and (max-width: 768px) {
            display: block;
            text-indent: -999em;
            color: rgba(0,0,0,0);
            height: 15px;
          }
        }
      }
      .tpl{
        width:295px;
        height: 320px;
        background:no-repeat 0 95px;
        top:50%;
        margin-top:-160px;
        position: relative;
        @media screen and (max-width: 768px) {
          margin:0 auto;
          background-size: 100% auto;
          background-position: 5px 95px;
        }
        &.house-home{
          background-image: url(../images/house-home.png);
        }
        &.house-happiness{
          background-image: url(../images/house-happiness.png);
        }
        &.house-equality{
          background-image: url(../images/house-equality.png);
        }
        &.house-plurality{
          background-image: url(../images/house-plurality.png);
        }
      }
      #tpl{
        top:0;
        margin-top:0;
      }
      .dialog{
        width:268px;
        height: 90px;
        line-height: 50px;
        text-align: left;
        padding: 10px;
        margin-bottom: 40px;
        margin-left: 10px;
        background:url(../images/dialog.png) no-repeat;
        @media screen and (max-width: 768px) {
          max-width: 100%;
          width: 270px;
          margin:0 auto percentage(40/320) ;
          background-size: 100% auto;
        }
        span{
          display: inline-block;
          line-height: 1.2em;
        }
      }
      .me{
        width:100%;
        text-align: center;
          line-height: 38px;
        i{
          display: inline-block;
          width: 38px;
          height: 38px;
          background:url(../images/btn-background.png);
          border-radius: 50%;
          margin-right: 2px;
        }
        span{
          line-height: 8px;
          vertical-align: middle;
          display: inline-block;
          height: 38px;
        }
      }
      ul{
        margin:0 0 0 25px;
        padding:0;
        float: left;
        display: block;
        width:126px;
        height: 120px;
        li{
          list-style: none;
          line-height: em(24,15);
        }
      }
      .road-name{
        width: 15px;
        line-height: em(24,15);
        display: block;
        float: left;
      }
      .number{
        font-size: em(60.82,15);
        line-height: em(90,60.82);
        margin-left: 15px;
        min-width: 90px;
        max-width: 98px;
        min-height: 110px;
        text-align: center;
        float:left;
        white-space: nowrap;
        position: relative;
        &:after{
          content:attr(title);
          font-size: em(15,60.82);
          position: absolute;
          bottom:-30px;
          right:10px;
        }
      }
    }
    .house{
      @media screen and (max-width: 768px) {
        margin: 0 auto 55px;
      }
    }
    .go{

      width:290px;
      margin-right: 20px;
      margin-top:-138px;
      top:50%;
      @media screen and (max-width: 768px) {
        top:0;
        margin: 35px auto 70px;
      }
      position: relative;
      figure{
        background:url(../images/go-background.png);
        width: 289px;
        height: 202px;
        a{
          background:url(../images/go-button.png);
          display: block;
          position: absolute;
          width: 152px;
          height: 33px;
          text-align: center;
          line-height: 33px;
          top:140px;
          left: 70px;
          text-decoration: none;
          color: #696969;
          font-size: em(18,15);
          font-weight: bold;
          i{
            font-size: em(12,18);
            display: inline-block;
            height: 30px;
            line-height: 28px;
            margin-left: 5px;
            vertical-align: middle;
          }
        }
      }
      p{
        width:270px;
        margin:20px auto 0;
      }
    }
    &.one{
      width:100%;
      .house{
        margin:0 auto;
        float: none;
      }
    }
  }
}
footer{
  position: fixed;
  bottom:0;
  height:44px;
  width:100%;
  line-height: 44px;
  background:#fff;
  border-top:1px solid #bbb;
  @media screen and (max-width: 768px) {
    text-align: center;
  }
  .copy{
    margin-left: 23px;
    @media screen and (max-width: 768px) {
      margin: 0 auto;
    }
  }
  .barcode{
    position: absolute;
    right: 0;
    margin-right: 22px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}

#cboxOverlay{
  background: #fff;
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.3!important;
  position: fixed;
  top: 0;
  visibility: visible;
  width: 100%;
  transition:0.6s opacity;
}
#cboxClose {
    background: rgba(0, 0, 0, 0) url("../images/close-button.png") ;
    top: 20px;
    height: 30px;
    position: absolute;
    right: 20px;
    text-indent: -9999px;
    width: 30px;
    border:0;
}
#cboxLoadedContent,#cboxContent{
  width:auto!important;
  height:auto!important;
}
#colorbox{
  &:focus{
    outline:none!important;
  }
}
#cboxMiddleLeft,#cboxMiddleRight{
  display: none;
}
#cboxContent{
  padding:25px;
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.9);
  border: 1px solid #696969;
  border-radius: 5px;
}
#cboxTitle{display: none;}
#terms,#about{
  width:600px;
  h3{
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }
  p{
    margin: 10px auto;
  }
}
#step2{
  h3{
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }
  p{
    margin: 10px auto;
    text-align: center;
    padding:0 87px;
  }
  .w175h90{
    width: 170px;
    height: 90px;
    text-align: right;
  }
  .w175h130{
    width: 170px;
    height: 130px;
    text-align: right;
  }
  aside{
    display: inline-block;
    vertical-align: top;
    width: 390px;
  }
  .families{
    height: 33px;
    width: 139px;
    margin-bottom:15px;
    margin-right:10px;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 5px;
  }
  textarea{
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 3px;
    resize:none;
    width: 100%;
    line-height: 1.2em;
  }
  .add-button{
    img{
      vertical-align: top;
    }
  }
  .button{
    background: rgba(0, 0, 0, 0) url("../images/btn-background.png");
    border: 1px solid #fff;
    border-radius: 1px;
    box-shadow: 1px 6px 15px rgba(0, 0, 0, 0.2);
    color: #fff;
    display: inline-block;
    font-size: 1.2em;
    height: 30px;
    line-height: 1.38889em;
    margin-top: 20px;
    margin-right: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-property: background-position;
    width: 150px;
    &:nth-child(2){
      background-position: 875px 160px;
    }
    &:nth-child(3){
      background-position: 250px 395px;
    }
  }
}
#step3{
  width:600px;
  h3{
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }
  p{
    margin: 10px auto;
  }
}